<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="Personal website for Inês Almeida"/>
    <meta name="author" content="Inês Almeida"/>

    <title>{% block title %}{% endblock %} Inês Almeida</title>

    <!-- static or CDN files for CSS -->
    <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|asseturl }}"/>
    <link rel="stylesheet" href="{{ '/static/css/font-awesome.min.css'|asseturl }}"/>
    <link rel="stylesheet" href="{{ '/static/css/googleapi_font_ubuntu.css'|asseturl }}"/>
    <link href="//fonts.googleapis.com/css?family=Varela+Round:400,normal" rel="stylesheet" type='text/css'/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ '/static/css/folio.css'|asseturl }}"/>
    <link rel="stylesheet" href="{{ '/static/css/font-borg.css'|asseturl }}"/>
    <link rel="icon" type="image/png" href="{{ '/static/favicon/favicon.png'|url }}"/>

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block header %}
    {% endblock %}
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">

      <div class="page-header">
        <div class="row">
          <!-- Title -->
          <div class="col-md-8">
            <a href="{{ '/development'|url }}" class="brand">
              <h1>Inês Almeida</h1>
            </a>
          </div>

          <!-- Links CV|Linkedin|etc-->
          <div class="col-md-4">
            <div class="social-icons pull-right">
            {% for label, link, icon in [
              ['britalmeida@gmail.com', 'mailto:britalmeida@gmail.com', 'fa fa-envelope-o'],
              ['@brita_pt', 'https://twitter.com/brita_pt', 'fa fa-twitter'],
              ['iralmeida', 'https://www.linkedin.com/in/iralmeida', 'fa fa-linkedin'],
              ['ines-almeida', 'https://www.blendernetwork.org/ines-almeida', 'bf-network'],
              ['CV', 'http://www.inesalmeida.com/static/files/cv-inesalmeida.pdf', 'fa fa-file-pdf-o']
            ]%}
              <a href="{{link}}" target="_blank" title="{{label}}">
                <i class="{{icon}}"></i>
              </a>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- Short Summary -->
      <p class="lead">Developer and Technical Artist.</p>

      <!-- Categories / Navigation Bar -->
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-justified">
            {% for href, title in [
              ['/development', 'Development'],
              ['/other', 'Other'],
              ['/about', 'About'],
              ['/contact', 'Contact']
            ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                %}><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% block body %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <p class="text-muted pull-right">&copy; Copyright 2016 by Inês Almeida.</p>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    {% if google_analytics_id and not config['AIRPLANE_MODE'] %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', {{google_analytics_id}}, 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

    {% block footer_scripts %}{% endblock %}

  </body>
</html>

