{% extends "layout.html" %}
{% block title %}{{ this.name }} - {% endblock %}
{% block body %}
  <div class="embed">{{ this.embed }}</div>

  {% set images = this.attachments.images.all() %}
  {% if this.attachments.images.count() > 1 or not this.embed %}
    <div class="image">
    {% for image in images %}

        <img class="img-responsive thumbnail" src="{{ image.thumbnail(650)|url }}" alt="">
        {% if image.exif %}
        <p class="meta">
          {{ image.exif.camera }}
          {% if image.exif.created_at %}
            ({{ image.exif.created_at|dateformat }})
          {% endif %}
        {% endif %}
    {% endfor %}
      </div>
  {% endif %}

  <div class="project-name">{{ this.name }}</div>
  <div class="project-company">{{ this.company }}</div>

  {% if this.website %}
  <div class="project-website">
    <a href="{{this.website}}" target="_blank">Project's website <i class="fa fa-external-link"></i></a>
  </div>
  {% endif %}

  <div class="project-headline">{{ this.headline }}</div>
  <div class="project-description">{{ this.description }}</div>

  <dl>
    <dt>Date</dt>
    <dd>{{ this.displaydate }}</dd>
  </dl>

{% endblock %}
